<p style="color: green"><%= notice %></p>

<header>
  <h2>People</h2>
</header>

<div id="people">
  <% @people.each do |person| %>
    <p>
      <%= link_to person.name, person %>
    </p>
  <% end %>
</div>

<%= link_to "New person", new_person_path, { class: "btn btn-primary" } %>
