<%= render @venture %>

<div class="btn-group">
  <%= link_to "Edit", edit_venture_path(@venture), class: "btn btn-primary" %>
  <%= link_to "Back", :back, class: "btn btn-secondary" %>
  <%= button_to "Delete", @venture, { method: :delete, class: "btn btn-danger" } %>
</div>
