<h1>Problems</h1>

<div id="problems">
  <% @problems.each do |problem| %>
    <p>
      <%= link_to problem.name, problem %>
    </p>
  <% end %>
</div>

<% if policy(Problem).create? %>
  <%= link_to "New problem", new_problem_path, class: "btn btn-primary" %>
<% end %>