<p>
  <%= link_to "Revisions", polymorphic_path([ @problem, Revision ]) %>
</p>

<%= render "problems/problem", problem: @problem, revision: @revision %>

<% if policy(@problem).edit? %>
  <div class="btn-group" role="group">
    <%= link_to "Edit", edit_problem_path(@problem), class: "btn btn-primary" %>
  </div>
<% end %>

<% if policy(@problem).destroy? %>
  <p>
    <div class="btn-group">
      <%= button_to "Delete", @problem, { method: :delete, class: "btn btn-danger" } %>
    </div>
  </p>
<% end %>