<p>
  <%= link_to "Revisions", polymorphic_path([ @venture, Revision ]) %>
</p>

<%= render "ventures/venture", venture: @venture, revision: @revision %>

<% if policy(@venture).edit? or policy(@venture).destroy? %>
  <div class="btn-group">
    <% if policy(@venture).edit? %>
      <%= link_to "Edit", edit_venture_path(@venture), class: "btn btn-primary" %>
    <% end %>
    <% if policy(@venture).destroy? %>
        <%= button_to "Delete", @venture, { method: :delete, class: "btn btn-danger" } %>
    <% end %>
  </div>
<% end %>
