<h1>Species</h1>

<div id="taxa">
  <% @taxa.each do |taxon| %>
    <p>
      <%= link_to taxon.name, taxon %>
    </p>
  <% end %>
</div>

<% if policy(Taxon).create? %>
  <%= link_to "New species", new_taxon_path, class: "btn btn-primary" %>
<% end %>
