<p>
  <%= link_to "Revisions", polymorphic_path([ @taxon, Revision ]) %>
</p>

<%= render "taxa/taxon", taxon: @taxon, revision: @revision %>


<% if policy(Taxon).edit? %>
  <div class="btn-group">
    <%= link_to "Edit", edit_taxon_path(@taxon), class: "btn btn-primary" %>
  </div>
<% end %>

<% if policy(Taxon).destroy? %>
  <div class="btn-group">
    <%= button_to "Destroy this species", @taxon, method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>
