<h1>About Ecological Ventures</h1>

<p>
    Ecological Ventures is a global team of volunteers dedicated to the development of technological
    resources to empower new and existing ventures focused on solving the problems facing our
    planet.
</p>

<h2>Join our team</h2>

<p>As a volunteer organization, we 

<h2>Partner with us</h2>

