<%= render @solution %>

<% if policy(@solution).edit? %>
  <div class="btn-group" role="group">
    <%= link_to "Edit", edit_solution_path(@solution), class: "btn btn-primary" %>
  </div>
<% end %>

<% if policy(@solution).destroy? %>
  <p>
    <div class="btn-group">
      <%= button_to "Delete", @solution, { method: :delete, class: "btn btn-danger" } %>
    </div>
  </p>
<% end %>