<h1>Editing ecosystem</h1>

<%= render "form", ecosystem: @ecosystem %>

<br>

<div>
  <%= link_to "Show this ecosystem", @ecosystem %> |
  <%= link_to "Back to ecosystems", ecosystems_path %>
</div>
