<div id="<%= dom_id problem %>">
  <p>
    <strong>Name:</strong>
    <%= problem.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= problem.description %>
  </p>

  <%= render partial: "shared/associations", object: problem, as: :entity %>

</div>
